/* Complete the CSS styling according to the provided design */

/* general ====================================================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("./images/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  text-align: center;
}

.hide {
  display: none;
}

.btn {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 1em 2em;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 200ms linear;
}

.btn-cta {
  background-color: goldenrod;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-cta-small {
  padding: 0.5em 0.7em;
}

.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus {
  background-color: yellow;
}

.btn-secondary {
  background-color: white;
  padding: 0.5em 0.7em;
  height: 2em;
  width: 2em;
  font-size: 1.5rem;
}

.btn-secondary-off {
  height: auto;
  width: auto;
  font-size: 1rem;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: goldenrod;
}

/* general ====================================================== */

/* backjack header =========================================== */
.blackjack__header {
  /* background-color: red; */
  margin-top: 6em;
}

.blackjack__header h1 {
  color: goldenrod;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.blackjack__header p {
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.blackjack__board {
}

/* blackjack box */
.blackjack__box {
  margin-bottom: 3em;
}

.blackjack-sum {
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: inline-block;
  border-bottom: 3px solid goldenrod;
  padding-bottom: 0.3em;
}

.blackjack__cards-wrapper img {
  height: 13rem;
}

.blackjack__cards-wrapper img + img {
  /* transform: translate(-9rem); */
}

/* blackjack buttons wrapper============================== */
.blackjack__btns {
  /* margin-top: 3em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.blackjack__bet-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
}

#player-bet {
  font-size: 1.5rem;
  font-weight: bold;
}

#coins {
  background-color: goldenrod;
  padding: 0.3em 0.8em;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: bold;
  color: #333;
}

#coins span {
  color: white;
}
