/* Complete the CSS styling according to the provided design */

/* general ====================================================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("./images/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  text-align: center;
}

.hide {
  display: none !important;
}

.hide-events {
  pointer-events: none;
}

.hide-opacity {
  opacity: 0;
}

.btn {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 1em 2em;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 200ms linear;
}

.btn-cta {
  background-color: goldenrod;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-cta-small {
  padding: 0.5em 0.7em;
}

.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus {
  background-color: yellow;
}

.btn-secondary {
  background-color: white;
  padding: 0.5em 0.7em;
  height: 2em;
  width: 2em;
  font-size: 1.5rem;
}

.btn-secondary-off {
  height: auto;
  width: auto;
  font-size: 1rem;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: goldenrod;
}

/* general ====================================================== */

/* backjack header =========================================== */
.blackjack__header {
  /* background-color: red; */
  margin-top: 6em;
}

.blackjack__header h1 {
  color: goldenrod;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.blackjack__header p {
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.blackjack__board {
  padding: 3em 0;
}

/* blackjack box */
.blackjack__box {
  margin-bottom: 3em;
}

.blackjack-sum {
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: inline-block;
  border-bottom: 3px solid goldenrod;
  padding-bottom: 0.3em;
}

.blackjack__cards-wrapper {
  border: 2px solid white;
  width: 15rem;
  margin: 0 auto;
  position: relative;
  height: 15rem;
}

.blackjack__cards-wrapper div {
  height: 10rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.blackjack__cards-wrapper img {
  height: 100%;
}

.blackjack__cards-wrapper div:nth-of-type(1) {
  transform: translate(-50%, -50%) rotate(-30deg);
}

.blackjack__cards-wrapper div:nth-of-type(2) {
  transform: translate(-50%, -50%) rotate(-15deg);
}

#blackjack-dealer .blackjack-sum span {
  opacity: 0;
  transition: 200ms linear;
}

#blackjack-dealer .blackjack__cards-wrapper div:nth-of-type(2) {
  border-radius: 5px;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M15 5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15 15v10h-30V15zM35 25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

#blackjack-dealer .blackjack__cards-wrapper div:nth-of-type(2) img {
  opacity: 0;
  transition: 200ms linear;
}

.blackjack__cards-wrapper div:nth-of-type(3) {
  transform: translate(-50%, -50%) rotate(5deg);
  /* display: none; */
}

.blackjack__cards-wrapper div:nth-of-type(4) {
  transform: translate(-50%, -50%) rotate(25deg);
  /* display: none; */
}

.blackjack__cards-wrapper div:nth-of-type(5) {
  transform: translate(-50%, -50%) rotate(45deg);
  /* display: none; */
}

.blackjack__cards-wrapper div:nth-of-type(6) {
  transform: translate(-50%, -50%) rotate(65deg);
  /* display: none; */
}

#blackjack-player .blackjack__cards-wrapper {
  margin-bottom: 2em;
}

/* blackjack buttons wrapper============================== */
.blackjack__btns {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.blackjack__bet-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
  margin-bottom: 2em;
}

#player-bet {
  font-size: 1.5rem;
  font-weight: bold;
}

#coins {
  background-color: goldenrod;
  padding: 0.3em 0.8em;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: bold;
  color: #333;
  display: inline-block;
}

#coins span {
  color: white;
}

#game-message {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: goldenrod;
  padding: 0.5em 1em;
  margin-bottom: 2em;
  /* margin: 2em 0 2em; */
}

#another-round {
  margin-bottom: 2em;
}
